{% extends "base.html" %}
{% block title %}О сайте{% endblock %}
{% block content %}
{% load static %}
<div class="container py-5">
  <article>
  <h1>Рад вас видеть на моем сайте.</h1>
    <p>
      Данный сайт посвящен моим любимым цитатам разных авторов.
      Я буду продолжать собирать цитаты здесь.
      Если хотите, то присоединяйтесь к этому славному процессу. Регистрация всегда открыта для всех.
    </p>
    <p>
      Делаея проект во время обучения на Яндекс практикуме, мне захотелось придать учебному
      проекту немного функционала и я решил сделать такой цитатник. И вот спустя достаточно
      большой период времени я продолжаю использовать для хранения цитат, которые зацепили меня
      во время чтения. Всегда мечтал сделать что то подобное.
    </p>
    <p>
      Мне очень понравилось учиться на курсах от Яндекс практикума, они очень сбалансированы, и
      в то же время не дают расслабляться. Дороговать, но что поделаешь.
    </p>
    <p>
      Так же здесь вы найдете наиболее полное собрание сочинений Килгора Траута.
      Я попытался собрать их все здесь. Было интересно собирать их здесь.
    </p>
  </article>
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <img src="{% static 'img/coding_cat.jpg'%}"
      class="img-fluid" alt="cat picture">
    </div>
  </div>
</div>
<br>
{% endblock %}