{% extends 'base.html' %}
{% load static %}

{% block title %}
  Пост {{ post.text|truncatechars:30 }}
{% endblock %}
{% block content %}
{% load thumbnail %}
  <body>
  </div>
  </div>
    <div class="row">
      <div class="col">
    <main>
      <div class="container py-5">
        <div class="row">
          <aside class="col-12 col-md-3">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Дата публикации: {{ post.pub_date|date:"d E Y" }}
              </li>
              {% if post.group %}
                <li class="list-group-item">
                  Группа: <a href="{% url 'posts:group_list' post.group.slug %}">{{ post.group.title }}</a>
                </li>
              {% endif %}
              <li class="list-group-item">
                Автор:  <a href="{% url 'posts:profile' post.author.username %}">{{ post.author.get_full_name }}</a>
              </li>
              {% include 'posts/includes/author_stats.html' with author=post.author %}
            </ul>
          </aside>
          <article class="col-12 col-md-8">
            {% thumbnail post.image "960x339" upscale=True as im %}
              <img class="card-img my-2" src="{{ im.url }}">
            {% endthumbnail %}
            <p>
              {{ post.text|linebreaks }}
            </p>

            {% if user == post.author %}
              <a class="btn btn-primary mb-3 " href="{% url 'posts:post_edit' post.id %}">
                Редактировать запись
              </a>
              <a class="btn btn-danger mb-3 mx-3" href="{% url 'posts:post_delete' post.id %}">
                Удалить
              </a>
            {% endif %}
            {% if user.is_authenticated %}
            <div style="float: right; ">
              <a href="#" id="like" style="float: end;">
                <img id="heart"
                {% if liked %}
                  src="{% static 'img/heart-fill.svg' %}"
                  toggled="true"
                {% else %}
                  src="{% static 'img/heart.svg' %}"
                  toggled="false"
                {% endif %}
                alt="Like" width="32" height="32">
              </a>
            </div>
            <br>
            {% endif %}
            {% include 'posts/includes/post_comments.html' %}
          </article>
        </div>
      </div>
    </main>
  </body>

  <script>
    $('#like').click(function(){
      if ($("#heart").attr('toggled') == 'true'){
        $("#heart").attr('toggled', 'false');
        $("#heart").attr('src', "{% static 'img/heart.svg' %}");
      }
      else {
        $("#heart").attr('toggled', 'true');
        $("#heart").attr('src', "{% static 'img/heart-fill.svg' %}");
      }
      $.ajax({
        type: "POST",
        url: "{% url 'posts:like_post' post.id %}",
        data: {'slug': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
        dataType: "json",
        success: function(response) {
      },
          error: function(rs, e) {
      }
          });
          return false;
    })
  </script>
{% endblock %}